@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

$primary: #222831;
$secondary: #393e46;
$info: #00adb5;
$another: #0a4d68;
$x: #ab367c;
$b: #f5badc;
$white: #fff;

$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;
$font_normal: 400;
$font_medium: 500;
$font_bold: 700;

$sombra: 2px 5px 11px 1px rgba(0, 0, 0, 0.7);
